<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
        <script src="https://unpkg.com/vue@next"></script>
        <script src="assets/js/index.js"></script>
    </head>
    <body id="content">
        <div id="todolist">
            <div>
                <input type="text" v-model="searchedTarea" placeholder="Search task"/>
            </div>
            <div>
                <input type="text" v-model="nuevaTarea" placeholder="Nueva Tarea"/>
                <button v-on:click="addTarea">A&ntilde;adir Tarea</button>
            </div>
            <div class="todo-list">
                <div v-if="tareas.length > 0">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4">Lista de tareas</th>
                            </tr>
                            <tr>
                                <th>Nombre Tarea</th>
                                <th>Fecha de creaci&oacute;n</th>
                                <th>Is completed</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="tarea in tareasFiltradas">
                                <td>{{tarea.nombre}}</td>
                                <td>{{formattedFecha(tarea.fecha)}}</td>
                                <td>{{isTaskCompletedText(tarea)}}</td>
                                <td>
                                    <button v-on:click="turnCompleteState(tarea)">{{getButtonText(tarea)}}</button>
                                    <button v-on:click="remove(tarea)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span>Tienes {{completedTask}} tareas completadas de {{tareas.length}} tareas.</span>
            </div>
            
        </div>
    </body>
</html>
